body {
	font-family: "Asap", sans-serif !important;
	background-image: linear-gradient(to top left, #fbf0f0 0%, #7c7575 100%);
	box-shadow: 0 3rem 3rem rgba(222, 215, 215, 0.25);
	backdrop-filter: blur(200px);
	border-radius: 10px;
}

/* styling for the informations container  */
.info-container {
}

.location-time {
}

.location-weather {
}

h3 {
	margin-bottom: 2rem !important;
}

select {
	width: 200px;
}

.search-bar {
	width: 30rem !important;
}

#results {
	display: none;
}
/* --------------------------------------------- */
